__history/
__history\
__recovery\
__recovery/
lib\
lib/
backup\
backup/
*.dcu
*.stat
*.dproj_local
*.identcache
DemoSizeCtrl/
DemoSizeCtrl\
Win32/
Win32\
DemoSizeCtrl.res
DemoSizeCtrl_Icon.res
DemoSizeCtrl_Icon.exe
*.lrs
*.local
mainlaz.lfm
mainlaz.pas
*.db
Demo/Src/SizeControl.pas
Demo/Src/SizeControl.res
